In [88]:
import pandas as pd
import hvplot.pandas

In [89]:
bank_data = pd.read_csv('./hotel_bookings_raw.csv')

In [90]:
for each in bank_data.index:
    bank_data.loc[each,'arrival_date']=pd.to_datetime(str(bank_data.loc[each,'arrival_date_year']) + "-" 
                                                      + bank_data.loc[each,'arrival_date_month'] + "-"
                                                      + str(bank_data.loc[each,'arrival_date_day_of_month']))
bank_data.info()
bank_data=bank_data.drop(['arrival_date_year','arrival_date_month','arrival_date_day_of_month'],axis='columns')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 44 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
 31  MO_YR                           119390 non-null  object
 32  CPI_AVG                         119209 non-null  float64
 33  INFLATION                       119209 non-null  float64
 34  INFLATION_CHG                   119209 non-null  float64
 35  CSMR_SENT                       119209 non-null  float64
 36  UNRATE                          119209 non-null  float64
 37  INTRSRT                         119209 non-null  float64
 38  GDP                             119209 non-null  float64
 39  FUEL_PRCS                       119209 non-null  float64
 40  CPI_HOTELS                      119209 non-null  float64
 41  US_GINI                         119209 non-null  float64
 42  DIS_INC                         119209 non-null  float64
 43  arrival_date                    119390 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(14), int64(16), object(13)
memory usage: 40.1+ MB

In [116]:
bank_data.head()

,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,...,CSMR_SENT,UNRATE,INTRSRT,GDP,FUEL_PRCS,CPI_HOTELS,US_GINI,DIS_INC,arrival_date,revenue
0,Resort Hotel,0,342,27,0,0,2,0.0,0,BB,...,93.1,5.3,0.75,18306.96,194.0,0.187566,41.2,41355.0,2015-07-01,0.0
1,Resort Hotel,0,737,27,0,0,2,0.0,0,BB,...,93.1,5.3,0.75,18306.96,194.0,0.187566,41.2,41355.0,2015-07-01,0.0
2,Resort Hotel,0,7,27,0,1,1,0.0,0,BB,...,93.1,5.3,0.75,18306.96,194.0,0.187566,41.2,41355.0,2015-07-01,75.0
3,Resort Hotel,0,13,27,0,1,1,0.0,0,BB,...,93.1,5.3,0.75,18306.96,194.0,0.187566,41.2,41355.0,2015-07-01,75.0
4,Resort Hotel,0,14,27,0,2,2,0.0,0,BB,...,93.1,5.3,0.75,18306.96,194.0,0.187566,41.2,41355.0,2015-07-01,196.0

In [112]:

bank_data['revenue']=bank_data['adr']*(bank_data['stays_in_weekend_nights']+bank_data['stays_in_week_nights'])

In [91]:
print(bank_data['adults'].value_counts())
bank_data = bank_data[bank_data['adults']<5]

adults
2     89680
1     23027
3      6202
0       403
4        62
26        5
27        2
20        2
5         2
40        1
50        1
55        1
6         1
10        1
Name: count, dtype: int64

In [92]:
print(bank_data['adults'].value_counts())

adults
2    89680
1    23027
3     6202
0      403
4       62
Name: count, dtype: int64

In [103]:
print(bank_data['children'].value_counts())
bank_data[bank_data['children']==10]

children
0.0     110780
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: count, dtype: int64

,hotel,is_canceled,lead_time,arrival_date_week_number,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,...,INFLATION_CHG,CSMR_SENT,UNRATE,INTRSRT,GDP,FUEL_PRCS,CPI_HOTELS,US_GINI,DIS_INC,arrival_date
328,Resort Hotel,1,55,29,4,10,2,10.0,0,BB,...,0.0,93.1,5.3,0.75,18306.96,194.0,0.187566,41.2,41355.0,2015-07-12

In [94]:
print(bank_data['babies'].value_counts())

babies
0     118457
1        900
2         15
10         1
9          1
Name: count, dtype: int64

In [104]:
print(bank_data['country'].value_counts())

country
PRT    48574
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
DJI        1
BWA        1
HND        1
VGB        1
NAM        1
Name: count, Length: 177, dtype: int64

In [105]:
print(bank_data['market_segment'].value_counts())

market_segment
Online TA        56477
Offline TA/TO    24214
Groups           19811
Direct           12595
Corporate         5295
Complementary      743
Aviation           237
Undefined            2
Name: count, dtype: int64

In [106]:
print(bank_data['distribution_channel'].value_counts())

distribution_channel
TA/TO        97865
Direct       14634
Corporate     6677
GDS            193
Undefined        5
Name: count, dtype: int64

In [107]:
print(bank_data['reserved_room_type'].value_counts())

reserved_room_type
A    85982
D    19199
E     6533
F     2897
G     2094
B     1118
C      932
H      601
P       12
L        6
Name: count, dtype: int64

In [108]:
print(bank_data['assigned_room_type'].value_counts())

assigned_room_type
A    74041
D    25320
E     7804
F     3751
G     2553
C     2375
B     2163
H      712
I      363
K      279
P       12
L        1
Name: count, dtype: int64

In [109]:
print(bank_data['customer_type'].value_counts())

customer_type
Transient          89613
Transient-Party    25124
Contract            4076
Group                561
Name: count, dtype: int64

In [110]:
print(bank_data['adr'].value_counts())

adr
62.00     3754
75.00     2715
90.00     2473
65.00     2418
0.00      1943
          ...
89.43        1
63.07        1
55.69        1
49.51        1
157.71       1
Name: count, Length: 8879, dtype: int64

In [123]:
print(bank_data['revenue'].value_counts().sort_values(ascending=False))
bank_data.groupby('hotel')['revenue'].sum()

revenue
124.00     2913
0.00       1943
180.00     1310
270.00     1090
240.00     1046
           ...
750.90        1
611.00        1
539.72        1
783.42        1
1103.97       1
Name: count, Length: 14553, dtype: int64

hotel
City Hotel      25279469.96
Resort Hotel    17444027.57
Name: revenue, dtype: float64

In [124]:
print(bank_data['CSMR_SENT'].value_counts().sort_values(ascending=False))

CSMR_SENT
90.0    10195
87.2     9237
91.0     5319
98.5     5251
89.0     5214
94.7     5023
93.8     5021
97.1     5006
91.2     4993
96.3     4858
96.9     4826
97.0     4634
91.7     4596
89.8     4585
93.5     4552
92.0     4482
98.2     4338
95.0     4060
93.4     4038
93.1     3615
96.8     3417
91.9     3247
91.3     3077
92.6     3062
98.1      933
96.1      666
95.1      393
90.7      275
95.9      151
93.0       85
95.4       44
Name: count, dtype: int64